name: CI Pipeline - Next Japan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js Project
        run: npm run build

      - name: Lint
        run: npm run lint || echo "No lint script found"

      - name: Test
        run: npm test || echo "No test script found"


      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/next-japan:latest .


      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/next-japan:latest
