name: CI Pipeline - Next Japan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js project
        run: npm run build


      - name: Run lint
        run: npm run lint || echo "No lint script found"

      - name: Run tests
        run: npm test || echo "No tests available"


      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/next-japan:latest .


      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/next-japan:latest
